.gallery {
  display: grid;
  margin: 0 auto;
  gap: 24px;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-item {
  flex-basis: calc((100%-48px) / 3);
}

.gallery-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  cursor: zoom-in;
}
